@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #E5E5E5;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 550px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 20px;
}

header {
  padding: 1.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

header>img {
  cursor: pointer;
  width: 6.5%;
  height: auto;
}

header>img:nth-child(2) {
  width: 16.5%;
  height: auto;
}

.container {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(246, 247, 251, 1) 100%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

main {
  position: relative;
  color: rgba(248, 248, 248, 1);
  padding: 0 0.5em;
}

.like-badge {
  width: 42%;
  transform: rotate(-30deg);
  position: absolute;
  top: 8%;
  left: 5%;
}

.dog-img {
  width: 100%;
  border-radius: 15px;
  vertical-align: middle;
}

.description {
  position: absolute;
  left: 1.25em;
  bottom: 1em;
  width: 90%;
  margin-bottom: 0;

}

.description>h2 {
  font-size: 2rem;
}

.description>p {
  font-size: 1.5rem;
}

footer {
  padding: 1.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

footer>button {
  display: flex;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 10px 20px #E9E9EA;
  padding: 2em;
}

footer>button:first-child:hover {
  background: #FFE7EF;
  box-shadow: 0px 10px 20px #EDD9DF;
  transition: background-color 0.5s ease;
}

footer>button:last-child:hover {
  background-color: rgba(219, 255, 244, 1);
  transition: background-color 0.5s ease;
  box-shadow: 0px 10px 20px #CCF1E6;
}

.end-message {
  padding: 1em;
  font-size: 2rem;
  font-family: inherit;
  color: black;
  font-weight: 700;
  text-align: center;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%,
      rgba(246, 247, 251, 1) 100%);
  border-radius: 16px;
}

.emoji {
  font-size: 4rem;
}